/* Global */
body {
  margin: 0;
  font-family: "Flexo-Regular", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


input[type="text"],
textarea {
  background-color: #1f1d1d;
  color: rgba(234, 217, 242, 0.89);
  border-radius: 5px;
}


input[type="number"],
textarea {
  background-color: #1f1d1d;
  color: rgba(234, 217, 242, 0.89);
  border-radius: 5px;
}


div select {
  background-color: #1f1d1d;
  color: rgba(234, 217, 242, 0.89);
  margin-right: 10px;
  margin: 2px;
  margin-bottom: 10px;
  border-radius: 5px;
}

div select:hover {
  cursor: pointer;
  color: rgba(234, 217, 242, 0.89);
  background: #1f1d1d;
  border-radius: 5px;
  cursor: pointer;
}


/* LandingPage */

.initContainer {
  background-image: url("https://images2.alphacoders.com/967/967747.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  object-fit: cover;
  min-height: 100vh;
  min-width: 100vh;
}

;

.initBtn {

  cursor: pointer;
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  animation: pulse 2s infinite;
}


@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

.initButton {
  width: 560px;
  height: 100px;
}

#loader {
  background-color: rgb(220, 33, 30);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  object-fit: cover;
  min-height: 100vh;
  min-width: 100vh;
}

/* Home */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/305c01e6-3141-4a4f-9fe6-c0f1abb7ce1c/d3e1i4c-f6dee4ac-16dc-49f2-a398-220f7c65e860.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzMwNWMwMWU2LTMxNDEtNGE0Zi05ZmU2LWMwZjFhYmI3Y2UxY1wvZDNlMWk0Yy1mNmRlZTRhYy0xNmRjLTQ5ZjItYTM5OC0yMjBmN2M2NWU4NjAuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.VXPnE0VUN5gxRQRO4p43PbzIS9uWKtHEATPC2hm6tok");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  object-fit: cover;
  min-height: 100vh;
  min-width: 100vh;

}


.actionContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1em;
}


.titleButton {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  cursor: pointer;
};

#filsortContainer {
  padding-top: 1em;
}

/* SearchBar */
#Button {
  background-color: #1f1d1d;
  color: rgba(234, 217, 242, 0.89);
  margin-right: 10px;
  margin: 2px;
  margin-bottom: 10px;
  width: auto;
  height: auto;
  border-radius: 5px;
  outline: none;
  transition-duration: 0.4s
}

#Button:hover {
  cursor: pointer;
  color: rgba(234, 217, 242, 0.89);
  background: #c00000;
}


/* Card */

#Cards {
  display: flex;
  overflow: hidden;
  margin: auto;
  flex-wrap: wrap;
}

#cardContainer {
  margin-bottom: 10px;
  border: 1px solid rgba(234, 217, 242, 0.89);
  border-radius: 4px;
  margin: auto;
  margin-bottom: 10px;
}

#cardName {
  text-decoration: none;
  color: #000000;
  text-align: center;
}

#cardName h3 {
  background-color: rgba(234, 217, 242, 0.89);
  padding: 0.5em 0.2em 0.8em 0.5em;
  text-align: center;
}

#cardTypes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 25px;
  margin-right: 25px;
  color: rgba(234, 217, 242, 0.89);
  background-color: rgba(0, 0, 0, 0.89);
}

;



#cardImgDiv {
  border-radius: 4px;
}

#cardImg {
  border-radius: 4px;
  background: rgba(234, 217, 242, 0.89);
}



/* Paginado */

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-left: 0px;
}


/* Detail */

#detailDiv {
  background-image: url("https://www.hdwallpaper.nu/wp-content/uploads/2019/04/pokemon-18.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  object-fit: cover;
  min-height: 100vh;
  min-width: 100vh;
}

#detailContainer {
  display: flex;
  background-color: #2c28283a;
  border-radius: 4px;
  margin-left: 5em;
  margin-right: 32em;
  margin-top: 4em;
  margin-top: 1em;
  padding-bottom: 5px;
  padding-top: 5px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#divDetailImg {
  background-color: #ffffff3a;
  border-radius: 4px;
  margin: 1rem /*agregar deploy*/
}

#divDetailImg img {
  border-radius: 4px;
  max-width: 100%;
  max-height: 100%;
  display: block
}


#divDetailInfo {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding-left: 2em;
}

#detailTitle {
  background-color: #ffffff3a;
  display: flex;
  justify-content: space-around;
  border-radius: 4px;

}

#detailTitle h5 {
  margin-top: 2.75em;
  margin-bottom: 10px;

}


#detailStats h2 {
  background-color: #ffffff3a;
  border-radius: 4px;
}

#detailStatsInfo {
  background-color: #ffffff3a;
  border-radius: 4px;
}

#divTypes{
  display: flex;
  justify-content: space-evenly;
  background-color: #ffffff3a;
  border-radius: 4px;
}

.my-actions {
  margin: 0 2em;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.right-gap {
  margin-right: auto;
}


/* CreationForm */
#divContainer {
  background-image: url('https://i.imgur.com/OpXwIXz.jpg');  
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  object-fit: cover;
  min-height: 100vh;
  min-width: 100vh;
}

#divContainer h1{
  margin-left: 1.5rem;
}

#form {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
  border: 1px solid rgba(234, 217, 242, 0.89);
  border-radius: 4px;
  margin-right: 5rem;
  margin-left: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
  }

#inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#previewImgDiv {
  position: relative;
  height: 200px;
  width: 257px;
}

#previewImg {
  height: 200px;
  width: 200px;
};

#previewText {
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  /* visibility: hidden; */
  opacity: 0;
};

#waitingImg {
 text-align: center
};


#divCreateBttn {
  /* margin-right: 10px; */
  /* margin: 2px; */
  /* margin-bottom: 10px; */
  /* width: auto;
  height: auto; */
  background-color: #1f1d1d;
  color: rgba(234, 217, 242, 0.89);
  margin-right: 10px;
  margin: 2px;
  margin-bottom: 10px;
  width: auto;
  height: auto;
  border-radius: 5px;
  outline: none;
  transition-duration: 0.4s;
  border-radius: 5px;
  outline: none;
  transition-duration: 0.4s
}

#divCreateBttn:hover {
  cursor: pointer;
  color: rgba(224, 242, 217, 0.89);
  background: #c00000;
}


.errorDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  width: 200px;
  height: 75px;
  position: relative;
  border: solid 1px red;
  border-radius: 4px;
  color: red;
  background-color: rgba(234, 217, 242, 0.89);
};